body {
    background:rgb(221, 180, 201);
    background-size: 300px;
    font-family:cursive
}
div.a {
    font-size: 15px;
  }

* {
    box-sizing: border-box;
}
.box {
    background:rgb(254, 255, 255);
    width:200px;
    height:200px;
    border:1px solid rgb(133, 106, 123);
    margin-top: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.relative {
    position: relative;
    background:rgb(107, 183, 158);
    bottom: 100px;
    left:100px;
}
body {
margin:20px;
}
p {
    color:rgb(3, 2, 2);
    padding: 50px;
    opacity: .8;
    font-size: 15px;
}

.special {
    color:bisque;
    background:rgb(80, 79, 79);   
    font-size: 150%;
    font-family: cursive; 
    margin: 30px;
}

.special2 {
    color:rgb(0, 0, 0);
    background:;  
    font-size: 150%;
    font-family: cursive; 
    margin: 30px;
}

